  
  <body>
    <main>
      <section class="hero">
        <div class="hero-text">
          <h1>¡Bienvenido a FARIXI!</h1>
          <p>Tu lugar para encontrar las peliculas más top de la galaxia.</p>
          <button class="neon-button" style="margin-top: 20px;" routerLink="/business/peliculas">Ver Peliculas</button>
        </div>
        <img src="https://www.xtrafondos.com/wallpapers/diseno-de-paisaje-del-espacio-5771.jpg" alt="Imagen de hero" >
      </section>     
    </main>
  </body>
  
